{% extends 'base.html.twig' %}

{% block title %} Modification du mot de passe {% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center my-5">Modifier votre mot de passe ici </h1>
    
    <div class="row">
            <div class="col">
                <div class="alert alert-info rounded">
                    <h2>Informations générales</h2>
                    <hr>
                        {{ form_row(form.newPassword) }}
                        {{ form_row(form.confirmPassword) }}
                </div>
                <div class="alert alert-success rounded clearfix">
                    <h3 class="alert-heading">Modification de mot de passe !</h3>
                    <p>Si vous avez fini votre modification, vous pouvez l'enregistrer ! </p>
                    <button type="submit" class="btn btn-primary rounded p-2 float-right">
                        <i class="fas fa-check"></i> 
                        Modifier 
                    </button>
                </div>
            </div>
            
        </div>

</div>

{% endblock %}