{% extends 'baseChadprod.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
<div class="container">
    <center>
    <h1>Edit Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info m-3" href="{{ path('categorie_index') }}">back to list</a>
    <center>
</div>
{% endblock %}
