{% extends 'baseChadprod.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    {% if error is defined %}  
        <div class="alert alert-danger" role="alert"> {{ error }}</div>
    {% endif %}
    <h1 class="text-center"> Index Categories</h1> 
        <center>
            <a class="btn btn-info" href={{ path('categorie_new') }}>Ajouter une categorie</a>
        </center>
    <table class="table table-striped table-info text-center my-4">
            <tr>
                <td><h4>Libelle</h4></td>
                <td><h4>actions</h4></td>
            </tr>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.libelle }}</td>
                <td> {{ include('categorie/btnCategorie.html.twig') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
